print hello

In [1]:
x=5
y=7
z=x+y
print(z)

12

In [ ]:
x="5"
y="7"
z=x+y
print(z)

In [2]:
a = input("WRITE YOUR NAME")
print(A)

WRITE YOUR NAMEDANIYAL

NameError: name 'A' is not defined

In [3]:
a = input("WRITE YOUR NAME")
print(a)

WRITE YOUR NAMEDaniyal
Daniyal

In [4]:
x = input("write the first number")
y = input("write the second number")
z= x+y
print(z)

write the first number2
write the second number3
23

In [5]:
x= int(x)
y= int(y)
x = input("write the first number")
y = input("write the second number")
z= x+y
print(z)

write the first number2
write the second number2
22

In [2]:
x = input("write the first number")
y = input("write the second number")
x= int(x)
y= int(y)
z= x+y
print(z)

write the first number4
write the second number5
9

a = int(input("write 1st number"))
b = int(input("write 2nd number"))
a+b

In [10]:
remainder = 13.5%3.5
print (remainder)

3.0

In [11]:
age = 5
age= age + 1
print(age)

6

In [12]:
age=5
age +=1
print(age)

6

In [14]:
total_cost = 1+3*5
print(total_cost)

16

In [17]:
print ("the sum of 2 plus 2 is " + str(4))

the sum of 2 plus 2 is 4

In [18]:
print ("the sum of 2 plus 2 is " ,4)

the sum of 2 plus 2 is  4

In [8]:
number = int (input())


if number >= 5:
    print("number if greater than or equal to 5")
else:
    print("number is less than 5")

3
number is less than 5

In [15]:
number = int ( input ("input number "))


if number != 5:
    print("number is not equal to 5")
else:
    print("number is 5")

input number 5
number is 5

In [2]:
print ("Hello \n world")

Hello
 world

In [3]:
print ("Hello \t world")

Hello 	 world

In [4]:
A = 2
type (A)

int

In [5]:
A = 2+2
print(A)

4

In [6]:
A= 2
B = 3
print(A+B)

5

In [7]:
print(A-B)

-1

In [15]:
A = 7
B = 2
X = A//B
print(X)

3

In [16]:
10%3

1

In [18]:
age = 20
age +=1
print(age)
#age = age+1

21

In [21]:
age = 20
age /=2
print(age)

10.0

In [22]:
A = 2
B = 5
print ("The output is of A+B is" , A+B)

7

In [25]:
A = int(input("write the 1st number = A "))
B = int(input ("write 2nd number = B "))
print ("The output is of A+B is =" , A+B)

write the 1st number = A 3
write 2nd number = B 3
The output is of A+B is = 6

In [1]:
#applying quadratic formula
A = int(input ("write 1st number 'A' = "))
B = int(input ("write 2nd number 'B' = "))
C = int(input ("write 3rd number 'C' = "))

X = -B +-(((B**2 -4*A*C))**0.5)/2*A
    
print(X)

write 1st number 'A' = 5
write 2nd number 'B' = 5
write 3rd number 'C' = 5
(-5.000000000000001-21.65063509461097j)

In [4]:
A = "Daniyal"
len(A)

7

In [7]:
A = "cat"
if A =="cat":
    print("Yes")
else:
    print("No")

Yes

In [12]:
#for equal to 0
num = int(input("entre number"))
if num == 0:
    print("It's Zero")
elif num<0:
    print("negative")
#Only last box has else

entre number-3
negative

In [2]:
A = int(input("entre 1st number"))
B = int(input("entre 2nd number"))
C = int(input("entre 3rd number"))
if A > B and C:
    print("1st is the greatest number")
elif B > A and C:
    print("2nd is the greatest number")
else:
    print("3rd is the greatest number")

entre 1st number4
entre 2nd number5
entre 3rd number2
2nd is the greatest number

In [6]:
# This is a multiline comment

In [2]:
""" djfkann """

' djfkann '

In [14]:
#This is listing funtion

cities = ["Karachi", "Quetta", "Peshawar"]
print(cities[0])
print(cities[1])
print(cities[2])

Karachi
Quetta
Peshawar

In [15]:
#appending option
cities.append('Pakistan')

In [16]:
print(cities)

['Karachi', 'Quetta', 'Peshawar', 'Pakistan']

In [17]:
cities.insert(0,"Lahore")

In [18]:
print(cities)

['Lahore', 'Karachi', 'Quetta', 'Peshawar', 'Pakistan']

In [19]:
#multiple data types can be in list

mixture = ["Karachi", "Quetta", "Peshawar", 132, 55.3434]

In [20]:
print(mixture)

['Karachi', 'Quetta', 'Peshawar', 132, 55.3434]

In [21]:
mixture = mixture + ["karachi", "multan"]

In [22]:
print (mixture)

['Karachi', 'Quetta', 'Peshawar', 132, 55.3434, 'karachi', 'multan']

In [28]:
#This is slicing

mixture[1:6]

['Quetta', 'Peshawar', 132, 55.3434, 'karachi']

In [1]:
print ("Hello \n world")

Hello
 world

In [5]:
print("hello world")

hello world

In [17]:
#making a table
N = int(input("entre a number : "))
R = int(input("input range = "))

for x in range(1,R+1):
    print (N, "x" ,x , "=",  N*x)

entre a number : 5
input range = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [22]:
#Making a checkers board
#loop within loop
# W B W B W B W B (8*8)

for W in range(8):
    for B in range(4):
        if W%2==0:
            print ("B  W ", end = " ")
        else:
            print("W  B ", end = " ")
            
    print()

B  W  B  W  B  W  B  W
W  B  W  B  W  B  W  B
B  W  B  W  B  W  B  W
W  B  W  B  W  B  W  B
B  W  B  W  B  W  B  W
W  B  W  B  W  B  W  B
B  W  B  W  B  W  B  W
W  B  W  B  W  B  W  B

In [25]:
#another method
#By default end = \n
for i in range(0,8):
    for j in range(0,8):
        if (i+j)%2 == 0:
            print(" B  ", end="" )
        else:
            print(" W  ", end="" )
    print("")

 B   W   B   W   B   W   B   W
 W   B   W   B   W   B   W   B
 B   W   B   W   B   W   B   W
 W   B   W   B   W   B   W   B
 B   W   B   W   B   W   B   W
 W   B   W   B   W   B   W   B
 B   W   B   W   B   W   B   W
 W   B   W   B   W   B   W   B

In [26]:
#another method
#By default end = \n
for i in range(0,8):
    for j in range(0,8):
        if (i+j)%2 == 0:
            print(" B  ")
        else:
            print(" W  ")
    print("")

 B
 W
 B
 W
 B
 W
 B
 W

 W
 B
 W
 B
 W
 B
 W
 B

 B
 W
 B
 W
 B
 W
 B
 W

 W
 B
 W
 B
 W
 B
 W
 B

 B
 W
 B
 W
 B
 W
 B
 W

 W
 B
 W
 B
 W
 B
 W
 B

 B
 W
 B
 W
 B
 W
 B
 W

 W
 B
 W
 B
 W
 B
 W
 B

In [27]:
#26th may 2019
#Tuples
color = ("red",  "green", "blue")
color [0]

'red'

In [28]:
#Tuple is replaced in the memory
#color reference is replaced(discarded)
color = ("red",  "green", "blue")
color = ("pink",  "yellow", "blue")
print(color)

('pink', 'yellow', 'blue')

In [31]:
#lower function
# here str1 is not being changed but only returned
str1 = "HELLO WORLD"
str1.lower()
str1.title()

'Hello World'

In [34]:
# here str1 is not being changed but only returned
#you can save them in variable
str1 = "HELLO WORLD"
str2 = str1.lower()
str3 = str1.title()
print(str1)
print(str2)
print(str3)

HELLO WORLD
hello world
Hello World

In [35]:
#To count the words of the input
#This program counts the spaces

word = input("entre sentence.. ")
word.count(" ")+1

entre sentence.. my name is

3

In [3]:
S = input("input sentence ")
#to split the function
S.split()
#now getting its length
len(S)

input sentence daniyal

7

In [5]:
#dictionaries function
doctor = {"name" :"Daniyal Shehzad", "qualification":"PHD", "salary":"30000"}
doctor["name"]

'Daniyal Shehzad'

In [6]:
doctor.keys()

dict_keys(['name', 'qualification', 'salary'])

In [7]:
doctor.values()

dict_values(['Daniyal Shehzad', 'PHD', '30000'])

In [8]:
#for loop
for i in doctor.keys():
    print(doctor[i])

Daniyal Shehzad
PHD
30000

In [13]:
#for values and keys
for i in doctor.keys():
    print(i,"=", doctor[i])

name = Daniyal Shehzad
qualification = PHD
salary = 30000

In [21]:
doctor["specialization"] = 'computer science'
doctor

{'name': 'Daniyal Shehzad',
 'qualification': 'PHD',
 'salary': '30000',
 'specialization': 'computer science'}

In [22]:
for i,j in doctor.items():
    print(i, j)
#this returns a tupple

name Daniyal Shehzad
qualification PHD
salary 30000
specialization computer science

In [17]:
#check which letters are in the sentence and how many times a letter is repeated in a sentence

#to get an empmty dictionary
char_count = {}


word = input ("input the sentence")

for i in word:
    if i in char_count.keys():
        char_count[i] += 1
    else:
        char_count[i] = 1
        
print(char_count)

input the sentencehello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [19]:
#check which letters are in the sentence and how many times a word is repeated in a sentence


word_count = {}

word = input ("input the sentence")

word = word.split(" ")

for i in word:
    if i in word_count.keys():
        word_count[i] += 1
    else:
        word_count[i] = 1
        
print(word_count)

input the sentencemy name is daniyal
{'my': 1, 'name': 1, 'is': 1, 'daniyal': 1}

In [23]:
#for multiple doctors
doctors = [{"name" : "zubair", "salary":"60000"},{"name" : "daniyal", "salary":"30000"}]

In [24]:
doctors[0]

{'name': 'zubair', 'salary': '60000'}

In [28]:
doctors[0]["name"]

'zubair'

In [29]:
#entry in dictionary can be removed
del doctors[0]["name"]
doctors

[{'salary': '60000'}, {'name': 'daniyal', 'salary': '30000'}]

In [ ]:
#dictionary of a list(from slides)
customer_29786{"name" : "zubair", "salary":"60000", "discount"}

In [ ]:
#dictionary within dictionary (from slides)
customer['johnog']
#or
customer['johnog'][lastname]